$icon-font: 'icon';
$icon-lib-name: 'icomoon';
$icon-font-dir: '/assets/scss/icons/fonts';
$icon-font-file: '#{$icon-font-dir}/#{$icon-lib-name}';

$icon-font-src: url('#{$icon-font-file}.woff') format('woff');

@font-face {
    font-family: $icon-font;
    src: $icon-font-src;
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon::before {
    display: inline-block;
    font-family: $icon-font !important;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    background: transparent;
    color: black;
}

$icons-map: (
    'archive-tick': '\e900',
);

@each $icon, $code in $icons-map {
    .icon-#{$icon}::before {
        content: $code;
    }
}
