.text-gradient {
    background: $gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header-section {
    z-index: $zindex-sticky;

    .header-top {
        background-color: $black;
        align-items: center;
        white-space: nowrap;
        color: $white;
        display: none;

        .nav-links {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            & > .nav-link {
                color: $white;
                padding: 0.5rem 1rem;
                transition: background-color 0.3s ease;

                &:hover {
                    color: $primary;
                }
            }
        }

        .header-infomation {
            display: flex;
            align-items: center;
            gap: 2rem;
        }
    }

    .sidebar {
        .sidebar-left {
            display: none;
        }

        .sidebar-right {
            .profile {
                background-color: transparent;
                color: $dark;
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        .header-top {
            display: flex;
        }

        .sidebar {
            .sidebar-left {
                display: block;
            }

            .sidebar-right {
                .profile {
                    background-color: $white;
                    color: $dark;
                    margin-left: 1rem;
                    background-color: $neutral-8;
                    color: $white;
                    border: 1px solid $neutral-8;
                    border-radius: $border-radius;
                }
            }
        }
    }

    .notification {
        position: relative;

        .notification-count {
            position: absolute;
            top: -0.5rem;
            right: -0.5rem;
            background-color: $primary-0;
            color: $white;
            border-radius: 50%;
            padding: 0.1rem 0.25rem;
            font-size: 0.75rem;
        }
    }
}

#hero-section {
    .img_banner {
        width: 100%;
        max-width: 295px;
    }

    @include media-breakpoint-up(md) {
        .img_banner {
            max-width: 100%;
            margin: 0 auto;
        }
    }
}

.slider-brand {
    .brand-item {
        border: 1px solid $neutral-3;

        img {
            height: 40px;
        }
    }
}

.owl-carousel-featured-companies {
    img {
        height: 60px;
    }
}

#super-hot-job-today-section {
    background-color: #fde9e6;
}

.tabs-featured-suggestion {
    .tabs-nav {
        .tabs-nav-button {
            &.active {
                background-color: $primary-0;
            }
        }
    }
}

footer {
    display: none;

    @include media-breakpoint-up(lg) {
        display: block;
    }
}

.btn span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// OwlCarousel
.owl-carousel {
    .owl-dots {
        text-align: center;
        .owl-dot {
            margin: 0 0.5rem;
            width: 0.5rem;
            height: 0.5rem;
            background-color: $black;
            border-radius: 50%;
            opacity: 0.5;

            &.active {
                opacity: 1;
            }
        }
    }

    .owl-stage-outer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// Bottom Menu
.bottom-menu {
    height: 80px;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: $zindex-sticky;
    .menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        color: $neutral-5;

        &.active {
            background: $gradient;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
