.dropdown {
    --#{$prefix}dropdown-left: 0;
    --#{$prefix}dropdown-right: auto;
    --#{$prefix}dropdown-position: relative;
    --#{$prefix}dropdown-bg: #{$white};
    --#{$prefix}dropdown-color: #{$black};
    --#{$prefix}dropdown-border-radius: #{$border-radius-lg};
    --#{$prefix}dropdown-box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.15);

    position: var(--#{$prefix}dropdown-position);
    display: inline-block;

    &.dropdown-right {
        --#{$prefix}dropdown-left: auto;
        --#{$prefix}dropdown-right: 0;
    }

    &.dropdown-mega {
        --#{$prefix}dropdown-left: 0;
        --#{$prefix}dropdown-right: 0;
        --#{$prefix}dropdown-position: static;
    }

    // Reset ul, li
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .dropdown-toggle {
        cursor: pointer;
        display: flex;
        align-items: center;

        // &::after {
        //     content: '';
        //     display: inline-block;
        //     width: 0;
        //     height: 0;
        //     border-left: 0.3rem solid transparent;
        //     border-right: 0.3rem solid transparent;
        //     border-top: 0.4rem solid white;
        //     transition: transform 0.3s ease-in-out;
        //     margin-left: 0.25rem;
        // }
    }

    .dropdown-menu {
        display: block;
        visibility: hidden;
        overflow: hidden;
        position: absolute;
        z-index: $zindex-dropdown;
        top: 100%;
        left: var(--#{$prefix}dropdown-left);
        right: var(--#{$prefix}dropdown-right);
        transition: all 0.3s ease-in-out;
        transform: translateY(10%);
        opacity: 0;
        box-shadow: var(--#{$prefix}dropdown-box-shadow);
        min-width: 14rem;
        background-color: var(--#{$prefix}dropdown-bg);
        color: var(--#{$prefix}dropdown-color);
        border-radius: var(--#{$prefix}dropdown-border-radius);

        &.open {
            visibility: visible;
            transform: translateY(0);
            opacity: 1;
        }
    }

    .dropdown-item {
        padding: 0.75rem 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: rgba($black, 0.1);
        }
    }
}
